<!-- views/partials/footer.ejs -->

<div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2 style=""><strong>Testimonial</strong</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="../../images/home/profile1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>cooming soon!.</blockquote>
                                <h3><a href="#">- comming soon!</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="../../images/home/profile2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>comming soon!.</blockquote>
                                <h3><a href="">- comming soon!</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:lakhdar.benzahia@gmail.com">contact@lakhdaracademy.com</a> <br>
                        Phone: +213 774230147 <br>
                        Fax: +213 774230147 <br>
                        </address>

                        <h2>Address</h2>
                        <address>
                        Center Algiers , Ben Aknoun!<br>
                        City Taleb Abd Alrahman 2!, <br>
                        Country Algeria <br>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a feedback</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; HandzApp! 2016. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://localhost:8080">HandzApp!</a></p>
                    </div>
                </div>
            </div>
        </div>
